@media all and (max-width: 850px) {
  body {
    margin: 2.5rem;
  }
  .grid {
    flex-direction: column;
    margin: 0;
  }
  .grid__left {
    margin-right: 0;
    margin-left: 0;
    border-radius: 0;
    border-top-right-radius: 2rem;
    border-top-left-radius: 2rem;
  }
  .grid__left ul {
    width: 100%;
    flex-direction: row;
    justify-content: flex-start;
    align-items: stretch;
  }
  ul {
    width: 70%;
  }
  li:first-child {
    border: 0;
  }
}

@media all and (max-width: 600px) {
  body {
    padding: 0;
    margin: 1.5rem;
  }
  .grid__left ul {
    justify-content: space-between;
  }

  li {
    padding: 4rem 0;
    word-break: keep-all;
  }
  li:last-child {
    border-top-right-radius: 2rem;
  }
  h1 {
    font-size: 3.2rem;
    word-break: keep-all;
  }
  .wrapper {
    width: 100%;
  }
  .grid__form {
    padding: 2rem;
  }
  .form-group {
    padding: 0;
    width: 100%;
  }
  li:first-child {
    border: 0;
  }
  input:focus,
  select:focus,
  input:hover,
  select:hover,
  .custom-file-input:hover {
    width: 85%;
    transform: scale(1.1);
  }
  .btn {
    align-self: center;
    width: 80%;
    margin: 4.5rem 0;
  }
  .btn--submit:hover {
    color: #fff;
    box-shadow: none;
    background-color: #068d72;
  }
}
