@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,700,700i,900');
pre {
  display: none;
}
html {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
  background-color: #fafafa;
  line-height: 1.2;
  letter-spacing: 2px;
}
body {
  margin: 0;
  font-size: 1.6rem;
  background-color: #000;
  color: #fff;
  padding: 2rem;
}
.wrapper {
  background: #000;
  max-width: 125rem;
  padding: 2rem;
  border-radius: 1rem;
  border: 1px solid #666;
  margin: 0.1rem;
  border-image: linear-gradient(to left, #743ad5 0%, #b2ff59 100%);
  border-image-slice: 1;
  border-width: 2px;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
  font-weight: 300;
}
#h1,
h1 {
  font-size: 4.2rem;
}
h2 {
  font-size: 2.8rem;
  margin-top: 1rem;
  margin-bottom: 3rem;
  color: #ff4757;
}
#ad {
  margin-top: 3rem;
}
.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.grid__left {
  flex: 1;
  margin-right: 5rem;
}
.grid__right {
  flex: 3;
}
.form {
  display: flex;
  flex-direction: column;
}
.grid__form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form-group {
  padding: 0 5%;
  width: 90%;
  text-align: center;
  /* label */
  display: block;
  margin-top: 4.8rem;
  margin-bottom: 1.4rem;
}
.grid__form__one {
  flex: 1 1 50%;
  text-align: center;
}
.grid__form__two {
  flex: 1 1 50%;
  align-items: flex-start;
  text-align: center;
}
figure {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../images/main.jpg');
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 37rem;
  border-radius: 1rem;
  height: 90rem;
}
label {
  font-size: 1.8rem;
  font-weight: 300;
  display: block;
  margin-top: 2.4rem;
  margin-bottom: 0.7rem;
}

input,
.select-dropdown {
  border: 1px solid #0984e3;
  border-radius: 4rem;
  background: transparent;
  outline: none;
  text-align: center;
  color: #fff;
  font-weight: 300;
  width: 80%;
  transition: all 0.25s ease-in-out;
}
input {
  padding: 1.4rem;
}
.select-dropdown {
  padding: 1.2rem;
  cursor: pointer;
  width: 86%;
  text-align-last: center;
}
input:focus,
select:focus,
input:hover,
select:hover,
.custom-file-input:hover {
  width: 90%;
  transform: scale(1.14);
  border-color: #2ecc71;
  box-shadow: 0 0 0.5rem #31b43a;
}

input:disabled {
  cursor: default;

  background-color: #1e272e;
}
input[type='file'] {
  padding: 0.7rem 1rem;
  cursor: pointer;
}
.required {
  color: #ff7675;
  margin-left: 0.5rem;
  font-size: 1.6rem;
}
.extra-info {
  font-size: 1.1rem;
}
.error {
  border-color: #e0245e;
}
.invalid {
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  padding: 0;
  margin: 0.1rem;
  color: #e0245e;
}
.custom-file-input::-webkit-file-upload-button {
  display: inline-block;
  padding: 5px 8px;
  border: 1px solid #999;
  border-radius: 2rem;
}

option {
  background-color: #1e272e;
  color: #fff;
}
.btn {
  border: 0;
  padding: 1rem;
  cursor: pointer;
  width: 30rem;
  border-radius: 0.5rem;
  color: #fff;
  font-weight: 300;
  font-size: 2.4rem;
  outline: none;
  align-self: center;
}

.btn--submit {
  margin-top: 7rem;
  color: #068d72;
  background: none;
  border: 1px solid #06725c;
  box-shadow: 0 0 0.5rem #06725c;
  border-radius: 4rem;
  transition: all 0.25s ease-in-out;
}
.btn--submit:hover {
  color: #fff;
  transform: scale(1.2);
  box-shadow: none;
  background-color: #068d72;
}
a {
  color: #fff;
}
