@import url('https://fonts.googleapis.com/css?family=Roboto:300,300i,400,400i,500,500i,700,700i,900');
@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,700,700i,900');

html {
  font-size: 62.5%;
  font-family: 'Raleway', sans-serif;
  line-height: 1.2;
  letter-spacing: 2px;
}
body {
  min-height: 100vh;
  margin: 10rem;
  background-color: #fff;
  font-size: 1.6rem;
  color: #666;
  padding: 2rem;
  background-image: -webkit-linear-gradient(
    364deg,
    rgb(116, 235, 213) 0%,
    rgb(63, 43, 150) 100%
  );
  background-image: -o-linear-gradient(
    364deg,
    rgb(116, 235, 213) 0%,
    rgb(63, 43, 150) 100%
  );
  background-image: linear-gradient(
    364deg,
    rgb(116, 235, 213) 0%,
    rgb(63, 43, 150) 100%
  );
}
.wrapper {
  max-width: 100%;
  padding: 1px;
  width: 82rem;
  background-color: #fff;
  border-radius: 2rem;
  margin: 0 auto;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  font-size: 2.8rem;
  color: #212121;
}
#ad {
  margin-top: 3rem;
}
.grid {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.grid__left {
  flex: 1;
  margin: 0;
  padding: 0rem;
  border-top-left-radius: 2rem;
  border-bottom-left-radius: 2rem;
  background-color: #3e4061;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.grid__left ul {
  color: #fff;
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-between;
}
li:first-child {
  border-top-left-radius: 2rem;
  border-bottom: 1px solid #666;
}
.steps li {
  margin: 0;
  cursor: pointer;
  padding: 4rem 3rem;
  transition: all 0.25s ease-in-out;
}
.animate,
.button--div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid__left img {
  width: 100%;
  height: auto;
}

li.selected,
li:hover {
  background-color: #fff;
  color: #212121;
}

.grid__right {
  flex: 2;
}
.form {
  display: flex;
  flex-direction: column;
}
.grid__form {
  margin: 0;
  padding: 4rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.form-group {
  padding: 0 5%;
  width: 90%;
  text-align: center;
  /* label */
  display: block;
  margin-top: 4rem;
  margin-bottom: 1.4rem;
}
.grid__form__one {
  flex: 1 1 50%;
  text-align: center;
}
.grid__form__two {
  flex: 1 1 50%;
  align-items: flex-start;
  text-align: center;
  display: none;
}

label {
  font-size: 1.5rem;
  display: block;
  position: relative;
  top: 0;
  left: 5rem;
  margin-bottom: -1rem;
  background-color: #fff;
  width: 7rem;
}

input,
.select-dropdown {
  border: 1px solid #0984e3;
  border-radius: 4rem;
  background: transparent;
  outline: none;
  text-align: center;
  color: #212121;
  font-weight: 300;
  width: 80%;
  transition: all 0.25s ease-in-out;
}
input {
  padding: 1.4rem;
}
.select-dropdown {
  padding: 1.2rem;
  cursor: pointer;
  width: 86%;
  text-align-last: center;
}

input:focus,
select:focus {
  width: 90%;
  border-color: #2ecc71;
  box-shadow: 0 0 0.5rem #31b43a;
}

input[type='file'] {
  padding: 0.8rem 1rem;
  cursor: pointer;
  text-align: center;
  color: #212121;
}

input[type='file']::-webkit-file-upload-button {
  display: inline-block;
  padding: 5px 8px;
  border: 1px solid #fff;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
}

input[type='date'] {
  color: #212121;
  padding: 1.2rem;
  text-align: center;
}

.required {
  color: #ff7675;
  margin-left: 0.5rem;
  font-size: 1.6rem;
}
.extra-info {
  font-size: 1.1rem;
}
.error {
  border-color: #e0245e;
}
.invalid {
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  padding: 0;
  margin: 0.1rem;
  color: #e0245e;
}

.btn {
  border: 0;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.5rem;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 2.4rem;
  outline: none;
  align-self: center;
}

.btn--next {
  margin-top: 4rem;
  color: #2ecc71;
  background: none;
  border: 1px solid #2ecc71;
  border-radius: 4rem;
  width: 30rem;
  text-align: center;
  transition: all 0.25s ease-in-out;
}

.btn--next:hover {
  color: #fff;
  transform: scale(1.2);
  box-shadow: 0 0 0.5rem #06725c;
  background-color: #2ecc71;
}

.btn--back {
  margin: 1rem 0 4rem 0;
  font-size: 1.6rem;
  display: none;
  background-color: #212121;
}

.btn--cancel {
  margin: 1rem 0 4rem 0;
  font-size: 1.6rem;
  text-align: center;
  background-color: #212121;
}

.btn--submit {
  width: 30rem;
  margin-top: 4rem;
  color: #2ecc71;
  background: none;
  border: 1px solid #2ecc71;
  border-radius: 4rem;
  transition: all 0.25s ease-in-out;
}
.btn--submit:hover {
  color: #fff;
  transform: scale(1.2);
  box-shadow: 0 0 0.5rem #2ecc71;
  background-color: #2ecc71;
}
a {
  color: #fff;
}
