@import url('https://fonts.googleapis.com/css?family=Raleway:300,300i,400,400i,500,500i,700,700i,900');

html {
  font-size: 62.5%;
}
body {
  margin-top: 5rem;
  margin-bottom: 5rem;
  font-size: 1.6rem;
  font-family: 'Raleway', sans-serif;
  line-height: 1.2;
  letter-spacing: 2px;
  padding: 2rem;
  /* background-image: -webkit-linear-gradient(
    364deg,
    rgb(116, 235, 213) 0%,
    rgb(63, 43, 150) 100%
  );
  background-image: -o-linear-gradient(
    364deg,
    rgb(116, 235, 213) 0%,
    rgb(63, 43, 150) 100%
  );
  background-image: linear-gradient(
    364deg,
    rgb(116, 235, 213) 0%,
    rgb(63, 43, 150) 100%
  ); */
  background-color: #000;
}
.wrapper {
  max-width: 100%;
  width: 100.8rem;
  margin: 0 auto;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5 {
  margin: 0;
}

h1 {
  font-size: 2.8rem;
  font-weight: 300;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.grid__form {
  margin: 0;
  display: grid;
  flex-shrink: 0;
  width: 100%;
  grid-template-columns: repeat(2, 49.9%);
  justify-content: space-between;
}
.grid__form__one,
.grid__form__two {
  display: flex;
  width: 100%;
  align-items: center;
  flex-direction: column;
  background-color: #fff;
  padding-bottom: 4rem;
}
.grid__form__one {
  border-top-left-radius: 2rem;
  margin-right: 0.3rem;
  border-top-right-radius: 2rem;
}
.grid__form__two {
  border-top-left-radius: 2rem;
  border-top-right-radius: 2rem;
}

.header {
  padding: 4rem 0 4rem 0;
  background-color: #fafafa;
  border-bottom: 1px solid #f1f1f1;
  color: #212121;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}
.number {
  margin-right: 1rem;
  height: 40px;
  width: 40px;
  display: inline-block;
  color: #fff;
  font-size: 2.6rem;
  background-color: #0984e3;
  border: 1px solid #0984e3;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#header1 {
  border-top-left-radius: 2rem;
}
#header2 {
  border-top-right-radius: 2rem;
}
.bottom {
  margin-top: 0.3rem;
  background-color: #fff;
  border-bottom-left-radius: 2rem;
  border-bottom-right-radius: 2rem;
  flex-basis: 100%;
  padding: 3rem 0;
  text-align: center;
  width: 100%;
}
.form-group {
  padding: 0 5%;
  width: 90%;
  text-align: center;
  /* label */
  display: block;
  margin-top: 4rem;
  margin-bottom: 1.4rem;
}

label {
  font-size: 1.5rem;
  display: block;
  position: relative;
  top: 0;
  left: 5rem;
  margin-bottom: -1rem;
  background-color: #fff;
  width: 7rem;
}

input,
.select-dropdown {
  border: 1px solid #0984e3;
  border-radius: 4rem;
  background: transparent;
  outline: none;
  text-align: center;
  color: #212121;
  font-weight: 300;
  width: 80%;
  transition: all 0.25s ease-in-out;
}
input {
  padding: 1.4rem;
}
.select-dropdown {
  padding: 1.2rem;
  cursor: pointer;
  width: 86%;
  text-align-last: center;
}

input:focus,
select:focus {
  width: 90%;
  border-color: #2ecc71;
  box-shadow: 0 0 0.5rem #31b43a;
}

input[type='file'] {
  padding: 0.8rem 1rem;
  cursor: pointer;
  text-align: center;
  color: #212121;
}

input[type='file']::-webkit-file-upload-button {
  display: inline-block;
  padding: 5px 8px;
  border: 1px solid #fff;
  -webkit-border-radius: 2rem;
  border-radius: 2rem;
}

input[type='date'] {
  color: #212121;
  padding: 1.2rem;
  text-align: center;
}

.required {
  color: #ff7675;
  margin-left: 0.5rem;
  font-size: 1.6rem;
}
.extra-info {
  font-size: 1.1rem;
}
.error {
  border-color: #e0245e;
}
.invalid {
  text-align: center;
  font-size: 1.2rem;
  font-style: italic;
  padding: 0;
  margin: 0.1rem;
  color: #e0245e;
}

.btn {
  border: 0;
  padding: 1rem;
  cursor: pointer;
  border-radius: 0.75rem;
  text-decoration: none;
  color: #fff;
  font-weight: 300;
  font-size: 2.4rem;
  outline: none;
  align-self: center;
}

.btn--cancel {
  font-size: 1.8rem;
  text-align: center;
  display: block;
  width: 80%;
  margin: 0.8rem auto;
  background-color: #27ae60;
}

.btn--submit {
  width: 30rem;
  color: #2ecc71;
  background: none;
  border: 1px solid #2ecc71;
  border-radius: 4rem;
  transition: all 0.25s ease-in-out;
}
.btn--submit:hover,
.btn--submit:active {
  color: #fff;
  transform: scale(1.2);
  box-shadow: 0 0 0.5rem #2ecc71;
  background-color: #2ecc71;
}
a {
  color: #fff;
}
